<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/crud/css/bootstrap.min.css">
    <title>Storystrap Template</title>
</head>

<body>
    <div class="row">
        <br>
        <div class="col-md-2 cold-sm-3 text-center">
            <h3>Sign in </h3>
            <form name="signInForm" action="/auth/signIn" method="post" style="width:200px;
                     height:200px;">
                User Name:
                <input name="userName" id="userName"> Password:
                <input name="password" type="password" id="password">
                <button class="btn btn-primary" type="submit" value="Sign In">Sign in
                </button>
            </form>
        </div>
        <div class="col-md-2 cold-sm-3 text-center">
            <h3>Sign Up </h3>
            <form name="signUpForm" action="/auth/signUp" method="post" style="width:200px;
                     height:200px;">
                User Name
                <input name="userName" id="userName">
                <br> Password
                <input name="password" id="password">

                <button class="btn btn-primary" type="submit" value="Sign up">Sign up </button>

            </form>

        </div>


    </div>
</body>

</html>